/* Write your global styles here, in PostCSS syntax */

@tailwind base;

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex: 1;
}

@tailwind components;

@tailwind utilities;
